@import 'imports';

footer {
  .footer__main {
    background-color: lightgrey;
    padding:2rem 0;
    @media (min-width:$small) {
      padding:3rem 0;
    }
    ul {
      padding: 0;
      margin: 0;
      li {
        list-style-type: none;
        margin-bottom:0.4rem;
        &:last-child {
          margin-bottom:0;
        }
        a {
          text-decoration: none;
          color: inherit;
        }
      }
    }
    h3,
    p {
      margin-bottom:1.5rem;
    }
    .col-12 {
      &:not(:first-child) {
        > * {
          margin-top:2.5rem;
          @media (min-width:$small) {
            margin-top:0;
          }
        }
      }
    }
  }
  .footer__bar {
    padding: 1.6rem 0;
    background-color: darkgrey;
    .footer__bar__copyright {
      .footer__bar__copyright__logo {
        img {
          max-width:10rem;
        }
      }
    }
    .footer__bar__gdpr {
      ul {
        padding:0;
        margin:0;
        display:flex;
        li {
          list-style-type: none;
          font-size:1.2rem;
          border-right: 0.1rem solid black;
          line-height:1;
          padding: 0 0.5rem;
          &:first-child {
            padding-left:0;
          }
          &:last-child {
            border-right:none;
            padding-right:0;
          }
          a {
            text-decoration: none;
            color:inherit;
          }
        }
      }
    }
  }
}
